# Environment
.env*
!.env.example
dev.env
!dev.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage

# Node
node_modules/
.next/
.swc/
out/
npm-debug.log*
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Docker
postgres_data/
caddy_data/
caddy_config/
